Flask==0.11
Jinja2==2.8
Mako==1.0.4
MarkupSafe==0.23
MySQL-python==1.2.5
PyYAML==3.11
SQLAlchemy==1.0.13
Werkzeug==0.11.10
alembic==0.8.6
argparse==1.2.1
click==6.6
itsdangerous==0.24
python-editor==1.0
python-memcached==1.58
six==1.10.0
wsgiref==0.1.2
